<!DOCTYPE html><html><head><link rel="stylesheet" href="../static/website_style.css" ><title>Israeli Government</title><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"></head>
<body><div class="header"><h1>Israeli Government</h1> </div><div class ="topnav" ><a href="/">Home</a><a href="../search">View</a><a href="../create">Create</a><a href="../update">Update</a><a href="../delete">Delete</a>  <a href="../select">Select</a></div><h1>Query text:<br>SELECT * FROM government WHERE gov_number = 35
</h1>
<table><tr><th>gov_number</th>
<th>prime_min</th>
<th>start_date</th>
<th>recommendation_id</th>
</tr>
<tr><td>35</td>
<td>4</td>
<td>2019-06-20</td>
<td>1</td>
</tr>
</table>
</body>
</html>
