<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/website_style.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="header"><h1>Israeli Government</h1>
</div>


<div class="topnav">
  <a href="/">Home</a>
  <a href="search">View</a>
  <a href="create">Create</a>
  <a href="update">Update</a>
    <a href="delete">Delete</a>
  <a href="select">Select</a>

</div>

<h1>View</h1>
<p>Move the mouse over the dropdown menu and choose a table.</p>

<div class="dropdown">
  <button class="dropbtn">Tables</button>
  <div class="dropdown-content">
  <a href="/search/government">Government</a>
  <a href="/search/ideology">Ideology</a>
  <a href="/search/party">Party</a>
  <a href="/search/politician">Politician</a>
  <a href="/search/position">Position</a>
  <a href="/search/recommendation">Recommendation</a>
  <a href="/search/recommendation_party">Recommendation Party</a>
  <a href="/search/government_recommendation">Government + Recommendation</a>
  <a href="/search/party_ideology">Party + Ideology</a>
  <a href="/search/party_position">Party + Position</a>


  </div>
</div>
</body>
</html>